<h1>記事</h1>

<p>
  <%= link_to t("create_model", model: Article.model_name.human), new_article_path %>
</p>

<table>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= link_to t('edit'), edit_article_path(article) %></td>
        <td><%= link_to t('delete'), article, method: :delete, data: { confirm: t('delete_confirmation') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
